<div id="responsive-table">
   <table class="table table-bordered table-striped header-fixed" st-table="shipments" st-pipe="viewCompletedShipments">
      <thead>
         <tr class="hidden-in-sm">
            <th>
               <div >Delivery ID</div>
            </th>
            <th>
               <div >Driver Name</div>
               <div >Driver Phone</div>
            </th>
            <th>
               <div >Customer Name</div>
               <div >Customer Phone</div>
            </th>
            <th>
               <div >Pickup Point</div>
               <div >Drop Point</div>
            </th>
            <th>
               <div >COD</div>
               <div >Amount Collected</div>
            </th>
            <th >Signature</th>
         </tr>
      </thead>
      <tbody>
          <tr ng-repeat="job in shipments track by $index" class="hidden-xs hidden-sm">
            <td>
               <div>{{job.shipment.shipmentId}}</div>
            </td>
            <td>
               <div>{{job.driver.firstName}} {{job.driver.lastName}}</div>
               <div >{{job.driver.phone}}</div>
            </td>
            <td>
               <div>{{job.shipment.dest[0].name}}</div>
               <div >{{job.shipment.dest[0].phone}}</div>
            </td>
            <td>
               <div ng-style="job.shipment.delieveredStates == null? { color:'red'} : {color:'black'}">{{job.shipment.address[0].address}}</div>
               <div ><b>Google Address:</b><br>{{job.shipment.dest[0].gaddress}}<br><b>Exact Address:</b><br>{{job.shipment.dest[0].address}}<br><b>Actual Drop:</b><br>{{job.shipment.actualDest[0].address}}</div>
            </td>
            <td>
               <div>{{job.tCod}}</div>
               <div >{{job.shipment.wfDetails.wfValues.AMOUNT_COLLECTED}}</div>
            </td>
            <td><a ng-click="viewSignature(job)">View Signature</a></td>
         </tr>
      </tbody>
      <tfoot>
         <tr>
            <td colspan="15" class="center-align">
               <div st-items-by-page="15" st-pagination="" st-template="partials/base/pagination-template.html"></div>
            </td>
         </tr>
      </tfoot>
   </table>
</div>
<div ng-include="'partials/shipments/load-details.html'" ng-if="groceries.length > 0"></div>
