<div class="container" style="overflow: auto" id="shipments-page">
   <div class="main_container">
      <div class="right_col" role="main">
         <div class="">
            <div class="clearfix"></div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel" style="height: 900px">
                     <div class="x_title">
                        <h3>Create Ad Hoc Route</h3>
                        <div class="clearfix"></div>
                     </div>
                     <div class="x_content">
                        <div class="row">
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Select Date</label>
                                 <input type="date" class="form-control" ng-model="date.fromDate" ng-change="onLoad()"/>
                              </div>
                           </div>
                           
                           <div class="col-md-3">
                           <label>Add Route</label>
                            <div class="form-group">
                              <input type="text" class="form-control" ng-model="date.route"/>
                           </div>
                           </div>
                          
                         
                        </div>

                        
                         <div class="row">
                            <div class="col-md-3">
                           <label>Select DC</label>
                            <div class="form-group">
                                             <!-- <ui-select ng-model="selectedDriver.driver" theme="selectize" ng-disabled="disabled" ng-change="setDriver()">
                                                <ui-select-match placeholder="Select or search DE">PALWAL</ui-select-match>
                                                <ui-select-choices repeat="driver in drivers | filter: $select.search">
                                                   <span ng-bind-html="driver.firstName | highlight: $select.search"></span>
                                                   <span ng-bind-html="driver.lastName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                             </ui-select> -->

                                             <ui-select ng-model="selectedDc.dc" theme="selectize" ng-disabled="disabled" on-select="fetchStoreData(selectedDc.dc)"  >
                                                <ui-select-match   placeholder="Select or search DE">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="dc in dcList | filter: $select.search">
                                                   <span ng-bind-html="dc | highlight: $select.search"></span>                                                 
                                                </ui-select-choices>
                                             </ui-select>
                                          </div>
                           </div>
                          
                           <div class="col-md-3">
                              <label>&nbsp;</label>
                              <div class="form-group">
                                 <button class="btn btn-block btn-primary" ng-click="submitAdhocRoute()" >Submit For Approval</button>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <table class="table table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th><h3>Stores</h3></th>
                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat = " storeInfo in iterateStoreInfo">
                                  
                                     
                                       <td style="width: 10%"> <input type="checkbox" type="checkbox" ng-click="submitSelectedStore(this)" /> {{storeInfo[0]}}</td>
                                     
                                    </tr>
                                    <!-- <tr>
                                       <td style="width: 10%"><input type="checkbox" type="checkbox"  /> McDonalds</td>
                                     
                                    </tr>
                                    <tr>
                                       <td style="width: 10%"><input type="checkbox" type="checkbox"  /> Dominos</td>
                                     
                                    </tr>
                                    <tr>
                                       <td style="width: 10%"> <input type="checkbox" type="checkbox"  /> Burger King</td>
                                     
                                    </tr>
                                    <tr>
                                       <td style="width: 10%"> <input type="checkbox" type="checkbox"  /> Subway</td>
                                     
                                    </tr> -->
                                 </tbody>
                              </table>
                           </div>
                        </div>
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>